@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.navbar-brand {
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

.like {
    background-image: url(/images/images/like.jpg);
    background-size: cover;
    background-position: center 75%;
    height: 400px;
    position: relative;
}

.like::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.like-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "Playfair Display", serif;
    position: relative;
    z-index: 2;
}
h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

