@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.navbar-brand {
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

.like {
    background-image: url(/images/images/like.jpg);
    background-size: cover;
    background-position: center 75%;
    height: 400px;
    position: relative;
}

.like::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.like-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    font-family: "Playfair Display", serif;
    position: relative;
    z-index: 2;
    padding-top: 40px;
}

.like-button {
    margin-top: auto;
    margin-bottom: 60px;
}

.hero-button {
    display: inline-block;
}



h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

.section-line { 
    width: 330px;
    height: 1px;
    background-color: black;
    border: none;
    margin: 15px auto 30px;
}

.section-depuis {
    font-family: "Playfair Display",serif;
   
}
.section-depuis p {
     font-size: 20px;
     line-height: 1.7;
}

.section-avis {
  margin-top: 100px !important;  
}

.section-avis h2 {
    font-size: 19px;
}

h3 {
     font-size: 19px;
}

.section-depuis h2 {
      font-family: "Playfair Display",serif;
      font-style: italic;
      font-weight: 400;
}

/* Formulaire 

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #dfdfe2; 
} */
